@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Azeret Mono", monospace;
}

/* common css starts */
.common_heading{
    font-size: 48px;
    font-weight: bolder;
}
.common_para{
    font-size: 12px;
}
.color1{
    color: #0D1321;
}
.color2{
    color: rgba(13, 19, 33, 0.7);
}
.common_line_height{
    line-height: 20px;
   margin-top: 16px;

}
.common_button{
    padding: 12px 20px;
    background-color: white;
    border: 1px solid rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
    margin-top: 32px;
}
.common_margin_bottom{
    margin-bottom: 32px;
}
/* header section starts */
.header{
    max-width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_content{
    max-width: 998px;
    height: 581px;
    text-align: center;
}
.btn{
    padding: 21px 24px;
    background-color: #0D1321;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
   
}

/* header section end */

/* web development starts */
.web_development{
    max-width: 1140px;
    height: 1700px;
    background-color: #fafafb;
    margin: 0 auto;
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web_development_content{
    max-width: 1200px;
    height: 1333px;
}
.web_dev_heading{
   text-align: center;
}
.web_development_boxes{
    /* width: 100%; */
    height: 400px;
    margin: 0 auto;
    display: flex;
    background-color: white;
    margin: 48px;
    border-radius: 16px;
}
.web_dev_box_content{
    max-height: 477px;
    
}
.web_dev_box_img{
    max-width: 274.17px;
    height: 240px;
    
}
.box_content{
    padding: 98px;
    margin: 0 auto;
    display: flex;
    gap: 98px;
}
/* web development end */

/* inspiration section starts */
.inspiration_section{
    max-width: 1140px;
    height: 775px;
    margin: 0 auto;
    
    margin-top: 114px;
}
.inspiration_heading{
    text-align: center;
    max-width: 852px;
    margin: 0 auto;
  
}
.inspiration_video{
    max-width: 1140px;
    height: 614px;
    text-align: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    margin-top: 48px;
    border-radius: 16px;
}
/* inspiration section end */
/* current target section starts */
.current_target{
    max-width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 151px;
}
.current_target_heading{
    text-align: center;
    max-width: 946px;
    margin: 0 auto;
}
.current_target_content{
    display: flex;
    justify-content: space-between;
    height: 299px;
    margin-top: 48px;
}
.targets{
    max-width: 364px;
    border-radius: 16px;
}
.targets_elements{
    padding: 40px;
}
.target_para_height{
    height: 52px;
    
    margin-bottom: 24px;
}
/* current target section end */
/* support section starts */
.support_section{
    max-width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    border-radius: 16px;
}
.support_content_heading{
    max-width: 730px;
    height: 104px;
    margin: 0 auto;
    
    text-align: center;
}
.support_input{
    display: flex;
    margin: 0 auto;
    gap: 16px;
    width: 684px;
}
.input_section >input{
    margin: 0 auto;
    height: 57px;
    width: 548px;
    border-radius: 8px;
    border: none;
}
.support_btn{
   padding: 17px 25px;
    border-radius: 8px;
    border: none;
}
.input_section input::placeholder{
    padding: 20px;
    color: #d0cdca;
    font-size: 16px;
}
/* support section end */